{% extends "base_input.html" %}
{% load static %}

{% block title %}Автор{% endblock %}

{% block input_form %}
    {% block form_title %}
        <form class="needs-validation" action="{% url 'authors:add' %}" method="post" novalidate>
    {% endblock %}

{% csrf_token %}

<div class="row">
    <div class="col-lg-6">
        {% include "./input_blocks/personal_information.html" %}
    </div>
    <div class="col-lg-6">
        {% include "./input_blocks/service.html" %}
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        {% include "./input_blocks/academicrank.html" %}
        {% include "./input_blocks/extradata.html" %}
    </div>
</div>
{% include "./input_blocks/activity.html" %}
{% block button %}
    <button type="submit" class="btn btn-primary">Добавить!</button>
{% endblock %}
</form>

{% endblock %}
{% block own_js %}
    <script src="{% static 'authors/js/author_main.js' %}"></script>
{% endblock %}