{% load static %}
{% load widget_tweaks %}

<form action="{% url 'authors:list' %}" method="get">
    <p><b>Личные сведения</b></p>
    <div class="row">
        <div class="col-xl-6">
            <div class="form-group">
                <label>Фамилия</label>
                {% render_field filter.form.lastname class+="form-control"  %}
            </div>
        </div>
    </div>
    <p><b>Сведения о прохождении службы</b></p>
    <div class="row">
        <div class="col-xl-4">
            <div class="form-group">
                <label>Подразделение</label>
                {% render_field filter.form.subdivision class+="form-control" style="width: 100%" %}
            </div>
        </div>
        <div class="col-xl-4">
            <div class="form-group">
                <label>Звание</label>
                {% render_field filter.form.rank class+="form-control"  %}
            </div>
        </div>
        <div class="col-xl-4">
            <div class="form-group">
                <label>Должность</label>
                {% render_field filter.form.position class+="form-control"  %}
            </div>
        </div>
    </div>

    <p><b>Сведения о ученых званиях, научной деятельности</b></p>
    <div class="row">
        <div class="col-xl-3">
            <div class="form-group">
                <label>Является доцентом ВАК</label>
                {% render_field filter.form.is_docentvak class+="form-control"  %}
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-group">
                <label>Является профессором</label>
                {% render_field filter.form.is_professor class+="form-control"  %}
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-group">
                <label>Является кандидатом наук</label>
                {% render_field filter.form.is_candidate class+="form-control"  %}
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-group">
                <label>Является доктором наук</label>
                {% render_field filter.form.is_doctor class+="form-control"  %}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-dark">Поиск</button>&nbsp;&nbsp;<a href="{% url 'authors:list' %}" class="btn btn-outline-dark">Сбросить фильтр</a>
</form>