{% extends "base_list.html" %}

{% load url_replace %}
{% load static %}

{% block title %}Апробации научных результатов{% endblock %}

{% block add_button %}
    <a href="{% url 'anr:add' %}" class="btn btn-light"><i class="fas fa-plus-circle"></i> Добавить Апробацию научных результатов</a>
{% endblock %}

{% block filters %}
    {% include "anr/filters.html" %}
{% endblock %}

{% block list %}
    <table class="table table-sm">
        <thead class="table-active">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Вид</th>
            <th scope="col">Название разработки</th>
            <th scope="col">Вид внедрения</th>
            <th scope="col">Организация внедрения</th>
            <th scope="col">Дата составления акта</th>
            <th scope="col">Авторы</th>
            <th scope="col">Подразделения</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for anr in list %}
            <tr>
                <td>{{ anr.id }}</td>
                <td>{{ anr.development_kind }}</td>
                <td>{{ anr.get_development_title }}</td>
                <td>{{ anr.introduction_kind }}</td>
                <td>{{ anr.introduction_organization }}</td>
                <td>{{ anr.approve_date }}</td>
                <td>{{ anr.get_authors }}</td>
                <td>{{ anr.get_subdivisions }}</td>
                <td><a href="{% url 'anr:update' anr.id %}" class="btn btn-light"><i class="fas fa-cog"></i></a></td>
                <td><a href="{% url 'anr:delete' anr.id %}" class="btn btn-light"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block own_js %}
    <script src="{% static 'anr/js/anr_main.js' %}"></script>
{% endblock %}

