{% extends "base.html" %}

{% load static %}
{% load reporting_tags %}

{% block title %}Сводный отчет по автору{% endblock %}
{% block nav %}
    {% include "index/common/navs/nav.html" %}
{% endblock %}


{% block side_panel %}
    {% include "index/common/navs/side_panel_reporting.html" %}
{% endblock %}
{% block content %}
    <div class="col-md-10">
        <br>
        <form  action="{% url 'reporting:employee' %}" method="get">{% csrf_token %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Сотрудник</label>
                        {% if author %}
                            <select class="employee_select form-control" name="employee_id" id="employee_id" required>
                                <option disabled></option>
                                {% for  author_for_select in author_list %}
                                    {% if author_for_select.id == author.id %}
                                        <option selected value="{{ author_for_select.id }}">{{ author_for_select.lastname }} {{ author_for_select.firstname|slice:":1" }}.{{ author_for_select.patronymic|slice:":1" }}. {{ author_for_select.subdivision.subdivisionname }}</option>
                                    {% else %}
                                        <option value="{{ author_for_select.id }}">{{ author_for_select.lastname }} {{ author_for_select.firstname|slice:":1" }}.{{ author_for_select.patronymic|slice:":1" }}. {{ author_for_select.subdivision.subdivisionname }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% else %}
                            <select class="employee_select form-control" name="employee_id" id="employee_id" required>
                                <option selected disabled></option>
                                {% for author in author_list %}
                                    <option value="{{ author.id }}">{{ author.lastname }} {{ author.firstname|slice:":1" }}.{{ author.patronymic|slice:":1" }}. {{ author.subdivision.subdivisionname }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row d-flex flex-row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>С (год начала)</label>
                        <input type="number" class="form-control" name="year_since" id="year_since" min="1900" max="2035"
                                {% if year_since %}
                               value="{{ year_since }}"
                                {% else %}
                               value="2019"
                                {% endif %}
                               required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>По (год окончания)</label>
                        <input type="number" class="form-control" name="year_till" id="year_till" min="1900" max="2035"
                                {% if year_till %}
                               value="{{ year_till }}"
                                {% else %}
                               value="2020"
                                {% endif %}
                               required>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
        <br>
        {% if author %}
            <div class="table-responsive-sm">
                <table class="table table-sm table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ФИО</th>
                        <th scope="col">Дата рождения</th>
                        <th scope="col">Должность</th>
                        <th scope="col">Дата назначения на должность</th>
                        <th scope="col">Специальное звание</th>
                        <th scope="col">Ученое звание</th>
                        <th scope="col">Ученая степень</th>
                        <th scope="col">Специальность</th>
                        <th scope="col">Название диссертации</th>
                        <th scope="col">Дата защиты или присвоения</th>
                        <th scope="col">Дата присвоения ученого звания</th>
                        <th scope="col">Подразделение</th>
                        <th scope="col">Стаж работы в подразделении</th>
                        <th scope="col">Дополнительная информация</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ author.lastname }}<br>{{ author.firstname }}<br>{{ author.patronymic }}<br></td>
                        <td>{{ author.dateofbirth|date:"d.m.Y" }}</td>
                        <td>{{ author.position }}</td>
                        <td>{{ author.positiondate|date:"d.m.Y" }}</td>
                        <td>{{ author.rank }}</td>
                        <td>
                            {% if author.isprofessor %}
                                Профессор<br><hr>
                            {% endif %}
                            {% if author.isdocentvak %}
                                Доцент по ВАК
                            {% endif %}
                            {% if not author.isprofessor and not author.isdocentvak %}
                                Нет
                            {% endif %}
                        </td>
                        <td>
                            {% if author.iscandidate %}
                                Кандидат наук<br><hr>
                            {% endif %}
                            {% if author.isdoctor %}
                                Доктор наук
                            {% endif %}
                            {% if not author.iscandidate and not author.isdoctor %}
                                Нет
                            {% endif %}
                        </td>
                        <td>
                            {% if author.iscandidate %}
                                {{ author.candidatespecialty }}<br><hr>
                            {% endif %}
                            {% if author.isdoctor %}
                                {{ author.doctorspecialty }}
                            {% endif %}
                            {% if not author.iscandidate and not author.isdoctor %}
                                Нет
                            {% endif %}
                        </td>
                        <td>
                            {% if author.iscandidate %}
                                {{ author.candidatetitle }}<br><hr>
                            {% endif %}
                            {% if author.isdoctor %}
                                {{ author.doctortitle }}
                            {% endif %}
                            {% if not author.iscandidate and not author.isdoctor %}
                                Нет
                            {% endif %}
                        </td>
                        <td>
                            {% if author.iscandidate %}
                                {{ author.candidatedate|date:"d.m.Y" }}<br><hr>
                            {% endif %}
                            {% if author.isdoctor %}
                                {{ author.doctordate|date:"d.m.Y" }}
                            {% endif %}
                            {% if not author.iscandidate and not author.isdoctor %}
                                Нет
                            {% endif %}
                        </td>
                        <td>
                            {% if author.isprofessor %}
                                {{ author.professordate|date:"d.m.Y" }}<br><hr>
                            {% endif %}
                            {% if author.isdocentvak %}
                                {{ author.docentvakdate|date:"d.m.Y" }}
                            {% endif %}
                            {% if not author.isprofessor and not author.isdocentvak %}
                                Нет
                            {% endif %}
                        </td>
                        <td>{{ author.subdivision }}</td>
                        <td>{{ d }} {{ suf }}</td>
                        <td>
                            {% if not author.extradata %}
                                Нет
                            {% else %}
                                {{ author.extradata }}
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                {% if publicationlist %}
                    <table class="table table-sm table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" colspan="3">ПУБЛИКАЦИИ</th>
                        </tr>
                        <tr>
                            <th scope="col">Год издания</th>
                            <th scope="col">Вид публикации</th>
                            <th scope="col">Выходные данные</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for publication in publicationlist %}
                            <tr>
                                <td>{{ publication.year }}</td>
                                <td>{{ publication.kind.publication_kind }}</td>
                                <td>{{ publication.output_data }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <br>
                    <table class="table table-sm table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Год издания</th>
                            <th scope="col">Количество публикаций (по видам и по году издания)</th>
                            <th scope="col">Общее количество публикаций (по годам и всего)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for year in year_list %}
                            {% if publicationlist|sciencework_count_all:year != 0 %}
                                <tr>
                                    <td>{{ year }}</td>
                                    <td>
                                        {% for kind in publicationkindlist %}
                                            {% with args=kind.id|add_string:year  %}
                                                {% if kind.id == 3 %}
                                                    {{ kind }} - {{ publicationlist|sciencework_count:args }}<br>
                                                    {% if publicationlist|sciencework_count:args != 0 %}
                                                        Из них:<br>
                                                        {% for subspecies in subspecieslist %}
                                                            {% with args_subspecies=subspecies.id|add_string:year  %}
                                                                {% if publicationlist|sciencework_count_subspecies:args_subspecies != 0 %}
                                                                    {{ subspecies }} - {{ publicationlist|sciencework_count_subspecies:args_subspecies }}<br>
                                                                {%  endif %}
                                                            {% endwith %}
                                                        {% endfor %}
                                                        По грифам:<br>
                                                        {% for grif in griflist %}
                                                            {% with args_grif=grif.id|add_string:year  %}
                                                                {% if publicationlist|sciencework_count_grif:args_grif != 0 %}
                                                                    {{ grif.grif_name }} - {{ publicationlist|sciencework_count_grif:args_grif }}<br>
                                                                {%  endif %}
                                                            {% endwith %}
                                                        {% endfor %}
                                                    {%  endif %}
                                                {% elif kind.id == 9 %}
                                                    {{ kind }} - {{ publicationlist|sciencework_count:args }}<br>
                                                    {% if publicationlist|sciencework_count:args != 0 %}
                                                        Из них:<br>
                                                        ВАК - {{ publicationlist|sciencework_publication_invak:args }}<br>
                                                        Не ВАК - {{ publicationlist|sciencework_publication_not_invak:args }}<br>
                                                    {%  endif %}
                                                {% else %}
                                                    {{ kind }} - {{ publicationlist|sciencework_count:args }}<br>
                                                {%  endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        Всего за год - {{ publicationlist|sciencework_count_all:year }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td><b>Всего за период</b></td>
                            <td>
                                {% for kind in publicationkindlist %}
                                    {% if kind.id == 3 %}
                                        <b>{{ kind }} - {{ publicationlist|sciencework_count_all_kind:kind.id }}</b><br>
                                        <b>Из них:</b><br>
                                        {% for subspecies in subspecieslist %}
                                            {% if publicationlist|sciencework_count_all_subspecies:subspecies.id != 0 %}
                                                <b>{{ subspecies }} - {{ publicationlist|sciencework_count_all_subspecies:subspecies.id }}</b><br>
                                            {%  endif %}
                                        {% endfor %}
                                        <b>По грифам:</b><br>
                                        {% for grif in griflist %}
                                            {% if publicationlist|sciencework_count_all_grif:grif.id != 0 %}
                                                <b>{{ grif.grif_name }} - {{ publicationlist|sciencework_count_all_grif:grif.id }}</b><br>
                                            {%  endif %}
                                        {% endfor %}

                                    {% elif kind.id == 9 %}
                                        {% if publicationlist|sciencework_count_all_kind:kind.id != 0 %}
                                            <b> {{ kind }} - {{ publicationlist|sciencework_count_all_kind:kind.id }}</b><br>
                                            <b>Из них:</b><br>
                                            <b>ВАК - {{ publicationlist|sciencework_publication_all_invak:kind.id }}</b><br>
                                            <b>Не ВАК - {{ publicationlist|sciencework_publication_all_not_invak:kind.id }}</b><br>
                                        {%  endif %}
                                    {% else %}
                                        <b>{{ kind }} - {{ publicationlist|sciencework_count_all_kind:kind.id }}</b><br>
                                    {%  endif %}

                                {% endfor %}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3"><b>Всего научных работ - {{ publicationlist|length }}</b></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                {% else %}
                    <p><b>За выбранный период нет публикаций</b></p>
                {% endif %}

                {% if nir_list %}
                    <table class="table table-sm table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" colspan="6">Участие в выполнении НИР</th>
                        </tr>
                        <tr>
                            <th scope="col">Наименование НИР</th>
                            <th scope="col">Основание для проведения НИР</th>
                            <th scope="col">Пункт плана НИД Академии МВД</th>
                            <th scope="col">Сроки проведения</th>
                            <th scope="col">Дата утверждения отчета</th>
                            <th scope="col">Результат проведения</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for nir in nir_list %}
                            <tr>
                                <td> {{ nir.nir_title }}</td>
                                <td>
                                    {% for reason in nir.reason.all %}
                                        {{ reason.reason_name }}<br>
                                    {% endfor %}
                                </td>
                                <td> {{ nir.plan_item|default_if_none:"Нет данных" }}</td>
                                <td> {{ nir.start_date|default_if_none:"Нет данных" }} - {{ nir.end_date|default_if_none:"Нет данных" }}</td>
                                <td> {{ nir.approve_date|default_if_none:"Нет данных" }}</td>
                                <td> {{ nir.result|default_if_none:"Нет данных" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p><b>За выбранный период нет НИР</b></p>
                {% endif %}

                {% if anr_list %}
                    <table class="table table-sm table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" colspan="5">Апробация научных результатов</th>
                        </tr>
                        <tr>
                            <th scope="col">Вид внедренной разработки</th>
                            <th scope="col">Название разработки</th>
                            <th scope="col">Вид внедрения</th>
                            <th scope="col">Место внедрения</th>
                            <th scope="col">Дата утверждения акта</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for anr in anr_list %}
                            <tr>
                                <td> {{ anr.development_kind|default_if_none:"Нет данных" }}</td>
                                <td>
                                    {% if anr.sciencework %}
                                        {{ anr.sciencework }}
                                    {% endif %}
                                    {% if anr.nir %}
                                        {{ anr.nir }}
                                    {% endif %}
                                    {% if anr.dissertation %}
                                        {{ anr.dissertation }}
                                    {% endif %}
                                </td>
                                <td> {{ anr.introduction_kind|default_if_none:"Нет данных" }}</td>
                                <td> {{ anr.introduction_organization|default_if_none:"Нет данных" }}</td>
                                <td> {{ anr.approve_date|default_if_none:"Нет данных" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p><b>За выбранный период нет АНР</b></p>
                {% endif %}
            </div>
        {% endif %}














    </div>
{% endblock %}
