{% load widget_tweaks %}

<div class="card border-secondary mb-2" style="max-width: 100%; line-height: 0.6;">
    <div class="card-header">Сведения о научной деятельности</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 border-right">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="d-flex flex-row">
                            {% render_field form.is_candidate %}<label>Кандидат наук</label>
                        </div>
                        <br>
                    </div>
                    <div class="col-xl-6">
                        <label>Присвоено</label>
                        {% render_field form.candidate_date class+="form-control" disabled=true %}
                        <div class="invalid-feedback">
                            !!!
                        </div>
                        <br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div><label>Название кандидатской диссертации</label></div>
                            {% render_field form.candidate_title class+="form-control" disabled=true rows="3" %}
                            <div class="invalid-feedback">
                                Заполните поле!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div><label>Специальность</label></div>
                            {% render_field form.candidate_specialty class+="form-control" disabled=true %}
                            <div class="invalid-feedback">
                                Заполните поле!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="d-flex flex-row">
                            {% render_field form.is_doctor %}<label>Доктор наук</label>
                        </div>
                        <br>
                    </div>
                    <div class="col-xl-6">
                        <label>Присвоено</label>
                        {% render_field form.doctor_date class+="form-control" disabled=true %}
                        <div class="invalid-feedback">
                            !!!
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div><label>Название докторской диссертации</label></div>
                            {% render_field form.doctor_title class+="form-control" disabled=true rows="3" %}
                            <div class="invalid-feedback">
                                Заполните поле!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div><label>Специальность</label></div>
                            {% render_field form.doctor_specialty class+="form-control" disabled=true %}
                            <div class="invalid-feedback">
                                Заполните поле!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>