{% extends "base_input.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Патентно-лицензионная деятельность{% endblock %}

{% block input_form %}
    {% block form_title %}
        <form class="needs-validation" action="{% url 'pld:add' %}" method="post" novalidate>
    {% endblock %}

{% csrf_token %}


<div class="card border-secondary mb-2" style="max-width: 100%; line-height: 0.6;">
    <div class="card-header">Данные патентно-лицензионной деятельности</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Вид</label>
                    {% render_field form.kind class+="form-control" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Патентообладатель</label>
                    {% render_field form.patent_owner class+="form-control select2_class" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Начало действия</label>
                    {% render_field form.action_start class+="form-control" %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Дата подачи заявки</label>
                    {% render_field form.request_date class+="form-control" %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Дата регистрации</label>
                    {% render_field form.registration_date class+="form-control" %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Номер патента</label>
                    {% render_field form.panent_number class+="form-control" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Название разработки</label>
                    {% render_field form.pld_title class+="form-control" rows="2" %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card border-dark mb-2" style="max-width: 100%; line-height: 0.6;">
    <div class="card-header">Авторы</div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    {% render_field form.authors class+="form-control select2_class" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block button %}
    <button type="submit" class="btn btn-primary">Добавить!</button>
{% endblock %}
</form>

{% endblock %}
{% block own_js %}
    <script src="{% static 'pld/js/pld_main.js' %}"></script>
{% endblock %}
