{% extends "base_list.html" %}

{% load url_replace %}
{% load static %}

{% block title %}Научно-исследовательские работы{% endblock %}

{% block add_button %}
    <a href="{% url 'nir:add' %}" class="btn btn-light"><i class="fas fa-plus-circle"></i> Добавить Научно-исследовательскую работу</a>
{% endblock %}

{% block filters %}
    {% include "nir/filters.html" %}
{% endblock %}

{% block list %}
    <table class="table table-sm">
        <thead class="table-active">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Основания</th>
            <th scope="col">Пункт плана</th>
            <th scope="col">Дата начала</th>
            <th scope="col">Дата окончания</th>
            <th scope="col">Исполнители</th>
            <th scope="col">Подразделения</th>
            <th scope="col">Научный руководитель</th>
            <th scope="col">Результат исследования
            <th scope="col">Дата утверждения</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for nir in list %}
            <tr>
                <td>{{ nir.id }}</td>
                <td>{{ nir.nir_title }}</td>
                <td>{{ nir.get_reasons }}</td>
                <td>{{ nir.plan_item }}</td>
                <td>{{ nir.start_date }}</td>
                <td>{{ nir.end_date }}</td>
                <td>{{ nir.get_authors }}</td>
                <td>{{ nir.get_subdivisions }}</td>
                <td>{{ nir.nir_leader.get_full_name }}</td>
                <td>{{ nir.result }}</td>
                <td>{{ nir.approve_date }}</td>
                <td><a href="{% url 'nir:update' nir.id %}" class="btn btn-light"><i class="fas fa-cog"></i></a></td>
                <td><a href="{% url 'nir:delete' nir.id %}" class="btn btn-light"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block own_js %}
        <script src="{% static 'nir/js/nir_filters.js' %}"></script>
{% endblock %}

