{% extends "base.html" %}

{% load static %}

{% block title %}About{% endblock %}
{% block nav %}
        {% include "index/common/navs/nav.html" %}
{% endblock %}


{% block content %}
    <style>
        p {
            text-indent: 2em;
        }
    </style>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-4">
                <img class="card-img-top" src="{% static 'index/img/books.jpg' %}" alt="Card image cap">
            </div>
            <div class="col-sm-8">
                <div class="card-body">
                    <h5 class="card-title"><b>Об Академии МВД Республики Беларусь</b></h5>
                    <p class="card-text text-justify">Академия МВД по праву считается не только ведущим центром подготовки специалистов для органов внутренних дел, но и одной из авторитетных научных организаций страны в области исследования проблем противодействия преступности и правоприменительной практики. Научно-исследовательская деятельность Академии МВД обеспечивается научно-исследовательским отделом, профессорско-преподавательским составом, научно-исследовательскими лабораториями, докторантами, адъюнктами, соискателями, магистрантами и курсантами. Коллегиальным совещательным органом управления научной деятельностью Академии МВД является ученый совет. Вопросы осуществления научной деятельности курирует заместитель начальника Академии МВД (проректор) по научной работе. </p>
                    <p class="card-text text-justify">Основными направлениями научно-исследовательской деятельности Академии МВД являются:
                    <ul>
                        <li>организация и проведение фундаментальных и прикладных научных исследований по актуальным вопросам правоприменительной деятельности органов внутренних дел Республики Беларусь, подразделений Следственного комитета Республики Беларусь, Государственного комитета судебных экспертиз Республики Беларусь;</li>
                        <li>изучение зарубежного и международного опыта противодействия преступности, адаптация результативных форм и методов работы правоохранительных органов иностранных государств к условиям функционирования подразделений органов внутренних дел Республики Беларусь;</li>
                        <li>участие в разработке системных государственных мер, направленных на обеспечение эффективности борьбы с преступностью, общественной безопасности, охраны общественного порядка;</li>
                        <li>участие в подготовке проектов нормативных правовых актов, регламентирующих деятельность органов государственного управления Республики Беларусь, Содружества Независимых Государств;</li>
                        <li>подготовка рекомендаций по совершенствованию правоохранительной деятельности территориальных подразделений органов внутренних дел Республики Беларусь, Следственного комитета Республики Беларусь, Государственного комитета судебных экспертиз Республики Беларусь.</li>
                    </ul>
                    </p>
                    <p><b>Подготовка научных работников высшей квалификации</b></p>
                    <p class="card-text text-justify">В Академии МВД функционирует успешная система подготовки научных работников высшей квалификации в интересах Министерства внутренних дел Республики Беларусь, Следственного комитета Республики Беларусь, Государственного комитета судебных экспертиз Республики Беларусь и других организаций-заказчиков по восьми научным специальностям юридического и психологического профилей (12.00.01 – теория и история права и государства; история учений о праве и государстве; 12.00.02 – конституционное право; конституционный процесс; муниципальное право; 12.00.03 – гражданское право; предпринимательское право; семейное право; международное частное право; 12.00.08 – уголовное право и криминология; уголовно-исполнительное право; 12.00.09 – уголовный процесс; 12.00.12 – криминалистика; судебно-экспертная деятельность; оперативно-розыскная деятельность; 12.00.14 – административное право, административный процесс; 19.00.06 – юридическая психология).
                        Темы диссертационных исследований адъюнктов, докторантов и соискателей в обязательном порядке согласовываются с соответствующими подразделениями организаций-заказчиков, включаются в перспективный и годовой планы научно-исследовательской деятельности академии.</p>
                    </p>
                    <p class="card-text"style="position: absolute; bottom: 0;"><small class="text-muted">&copy;Разработано ООИТ Академии МВД Республики Беларусь</small></p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}