{% load widget_tweaks %}



<div class="card border-dark mb-2" style="max-width: 100%; line-height: 0.6;">
    <div class="card-header" id="withselect">Авторский коллектив</div>
    <div class="card-body" id="cardbodyforlistauthors">
        <div class="row">
            <div class="col-sm-6 d-flex flex-row">
                <div class="d-flex flex-row align-items-center">
                    {% render_field form.work_is_foreignauthors %}<label>Сторонние авторы</label>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="d-flex flex-row align-items-center">
                    <label>Количество</label>&nbsp;
                    {% render_field form.other_author_count class+="form-control extra_inputs" %}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                {% render_field form.authors class+="form-control select2_class" %}
            </div>
        </div>
    </div>
</div>
