{% load widget_tweaks %}
<div class="col-md-6">
    <p>Общие данные</p>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Вид публикации</label>
                {% render_field form.kind|append_attr:"required:required" class+="form-control" %}
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-end">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Год издания</label>
                {% render_field form.year class+="form-control" min="1900" max="2020" value="2020" %}
                <div class="invalid-feedback">
                    Заполните поле!
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Полугодие</label>
                {% render_field form.half_year class+="form-control" required=true %}
             </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group d-flex flex-column">
                <label>Количество печатных листов</label>
                {% render_field form.sheet_count class+="form-control" type="number" step="0.01" min="0" max="1000000" value=0.2 %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Выходные данные</label>
                {% render_field form.output_data class+="form-control" rows="4" required=true %}
            </div>
        </div>
    </div>
</div>