{% extends "base.html" %}

{% load static %}

{% block nav %}
    {#    {% include "index/common/navs/nav.html" %}#}
{% endblock %}

{% block side_panel %}
    {#    {% include "index/common/navs/sidepanel.html"%}#}
{% endblock %}



{% block content %}
    {% for error in form.non_field_errors %}
        <b>{{ field.label }} {{ error }}</b><br>
    {% endfor %}

    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <b>{{ field.label }} {{ error }}</b><br>
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% block input_form %}{% endblock %}
{% endblock %}


{% block js %}
    <script src="{% static 'index/js/check_form.js' %}"></script>
    {% block own_js %}{% endblock %}
    {#    <script src="{% static 'index/js/filter.js' %}"></script>#}
{% endblock %}
