{% extends "base.html" %}

{% load static %}
{% load url_replace %}

{% block nav %}
        {% include "index/common/navs/nav.html" %}
{% endblock %}

{% block side_panel %}
        {% include "index/common/navs/side_panel_main.html"%}
{% endblock %}

{% block content %}
    <div class="col-md-10">
        <br>
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-end">
                {% block add_button %}{% endblock %}
            </div>
        </div>
        <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#form_filters" aria-controls="form_filters">Фильтры</button>
        <br>
        <div class="collapse multi-collapse" id="form_filters">
            <br>
            {% block filters %}{% endblock %}
        </div>
        <br>
        {% if list %}
            <p>Найдено записей - <b>{{ filter.qs|length }}</b></p>
            {% block list %}{% endblock %}
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    {% if list.has_previous %}
                        <li class="page-item">
                            <a class="btn btn-outline-dark" href="?{% url_replace request 'page' list.previous_page_number %}"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="btn btn-outline-dark disabled" href="#"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                    {% endif %}
                    <li class="page-item d-flex align-items-center disabled"><b>&nbsp;&nbsp;Страница {{ list.number }} из {{ list.paginator.num_pages }}&nbsp;&nbsp;</b></li>
                    {% if list.has_next %}
                        <li class="page-item">
                            <a class="btn btn-outline-dark" href="?{% url_replace request 'page' list.next_page_number %}"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="btn btn-outline-dark disabled" href="#"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% else %}
            <p>Список пуст!</p>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    {% block own_js %}{% endblock %}
    {#    <script src="{% static 'index/js/filter.js' %}"></script>#}
{% endblock %}